{% extends "restaurants/home.html" %}

{% block content %}
{%load static%}
<div id="foods">
<h1>All Foods</h1>
<br>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Add</th>
      </tr>
    </thead>
    <tbody>
       
{%for food in foods.all%}
<tr>
    <th scope="row"><img src="{{food.image.url}}" height="100" width="150"></th>
    <td>{{food.name}}</td>
    <td>{{food.description}}</td>
    <td>${{food.price|floatformat:2}}</td>
    <td><button type="button" class="btn btn-primary">Add Cart</button></td>
  </tr>
{%endfor%}
</tbody>
</table>
<button><a href ="/">Home</a></button>
{% endblock %}
</div>

